@font-face {
    font-family: 'Dubai';
    src: url('../../../static/fonts/Dubai-Medium.woff2') format('woff2'),
        url('../../../static/fonts/Dubai-Medium.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roystorie';
    src: url('../../../static/fonts/Roystorie-ExtraLight.otf') format('otf'),
        url('../../../static/fonts/Roystorie-ExtraLight.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

.landing__title {
    @apply relative bg-night-blue text-100 xl:text-150 text-white font-roystorie uppercase leading-[100%] whitespace-nowrap cursor-pointer z-[1]; 

    &-content {
        @apply absolute top-1/2 -translate-y-1/2 right-0 w-350 xl:w-440 pl-35 text-white text-12 xl:text-15 font-dubai
    }
}